/*
body {background-color: aliceblue}
p {color: dodgerblue;}
h1 {font-family: serif;
	color:blue;}
h2 {font-family: sans-serif;
	color:blue;}
*/

/*rochelle's rules*/
html, body {
	font-family: sans-serif;
	color: dodgerblue;
}

body {
	margin: 0;
	background: #000;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.img-md {
	height: 300px;
	width: auto;
}

figure {
	display: inline-block;
	margin: 0;
}

figcaption {
	color: #fff;
	font-size: 12px;
}

img {
	float: right;
	height: 250px;
	width: auto;
}

